<footer id="padding" class="wrapper">
  <ul class="footer-links-cases">
    <li><span class="p">Get in Touch</span></li>
    <li>323 E Hammer Ln.</li>
    <li>Stockton, Ca 95207</li>
    <li>209.688.1756</li>
    <li>paulina@gmail.com</li>
  </ul>
  <div class="footer-sm">
    <a href="#">
      <img src="/img/facebook2.png" alt="facebook">
    </a>
    <a href="#">
      <img src="/img/instagram2.png" alt="instagram">
    </a>
    <a href="#">
      <img src="/img/youtube3.png" alt="youtube">
    </a>
  </div>
</footer>

<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
