<div class="col-12">
  <div id="show-about-me" class="display-bg d-none ">
    <div class="row">
      <div class="col-md-6">
        <div class="side-project-block">
          <div class="about-me-title">
            <h3>Sweet brownie tart fruitcake.</h3>
          </div>
          <div class="about-me-details">
            <span> <strong>Hello!</strong>  </span>
            <p>Sweet roll topping dragée bear claw danish sesame snaps carrot cake.
              Fruitcake tart sweet roll muffin apple pie jelly-o bear claw.
              Soufflé marshmallow dragée biscuit jelly beans.</p>
              <br />

            <p>Cookie chocolate cake soufflé liquorice lollipop.
              Donut lemon drops liquorice jujubes powder marzipan sesame snaps danish bear claw.
              Dragée sweet fruitcake toffee tootsie roll pastry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-img">
          <h5 class="text-center display-4">Paulina Artista</h5>
          <img src="./img/art-artist-canvas.jpg" alt="painting">
        </div>
      </div>
    </div>
  </div>
</div>
