<div class="col-12">
  <div id="show-blog" class="display-bg d-none">
    <div class="blog">
      <div class="row">
        <div class="col-md-6">
          <div class="blog-title">
            <h1>This is the blog title</h1>
          </div>
          <span class="text-muted">April 20th 2019</span>
          <hr />
          <div class="blog-content">
            <p><span>Pastry</span>  icing pie. Tart pastry marzipan lemon drops gingerbread tart cupcake cake jelly.
              Croissant jelly beans icing candy canes lollipop jelly beans cake gummi bears. </p>
              <br />
            <p>Topping oat cake macaroon. Sweet roll pie sesame snaps jujubes cake. Muffin soufflé pie.</p>
              <br />
            <p>Gummies liquorice chocolate cake tart cake sugar plum. Jelly wafer tiramisu chocolate...</p>
            <p class="lead"><a id="blog-more" href="#">Read More</a> </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog-image">
            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/fa/e15e80504811e6bcaf7158d37ab7ca/LightBulb.jpg?auto=format%2Ccompress&dpr=2.625" alt="">
          </div>
          <a href="/blog" class="btn btn-outline-secondary">View All Blogs</a>
        </div>
      </div>
      <!-- <a href="/blog" class="btn btn-outline-secondary btn-lg m-4">Blog page</a> -->
    </div>

  </div>
</div>
