<div class="col-12">
  <div id="show-contact" class="display-bg d-none">
    <div class="contact-header">
      <h3 class="display-3 text-center pt-4">I'd love to hear from you!</h3>
    </div>

    <form>
      <div class="contact-form">
        <div class="input-fields">
          <input type="text" class="input" placeholder="Name" />
          <input type="text" class="input" placeholder="Email Address" />
          <input type="text" class="input" placeholder="Phone" />
          <input type="text" class="input" placeholder="Subject" />
        </div>
        <div class="msg">
          <textarea placeholder="Message"></textarea>
          <div class="btn btn-outline-secondary">Send</div>
        </div>
      </div>
    </form>
  </div>
</div>
