<div class="col-12">
  <div id="show-products" class="display-bg d-none">
    <div class="row">
      <div class="col-md 6">
        <div class="product-img">
          <img src="./img/art-beautiful-female.jpg" alt="painting">
          <h5 class="text-center display-4">Photo Transformation</h5>
        </div>
      </div>
      <div class="col-md 6">
        <div class="product-block">
          <div class="product-title">
            <h3>Turn Your Face Into Art!</h3>
          </div>
          <div class="product-details">
            <p>Sweet roll topping dragée bear claw danish sesame snaps carrot cake.
              Fruitcake tart sweet roll muffin apple pie jelly-o bear claw.
              Soufflé marshmallow dragée biscuit jelly beans.</p>
              <br />
            <p>
              Cookie chocolate cake soufflé liquorice lollipop.
              Donut lemon drops liquorice jujubes powder marzipan sesame snaps danish bear claw.
              Dragée sweet fruitcake toffee tootsie roll pastry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
