<% include ./partials/header.ejs %>

    <main>
      <section class="main-banner">
        <div class="vertical-center">
  				<h2>PAULINA <br>ARTISTA</h2>
  				<h1>Artist with an Attitude</h1>
  			</div>
      </section>

      <section class="wrapper">
        <div class="row justify-content-around">
          <div class="col-11 col-md-4 col-lg-5 index-links">
            <button id="portfolio" class="box btn btn-outline text-center">Portfolio</button>
          </div>
          <div class="col-11 col-md-3  index-links">
            <button id="blog" class="box btn btn-outline">Blog</button>
          </div>
          <div class="col-11 col-md-3  index-links">
            <button id="products"class="box btn btn-outline">Products</button>
          </div>


      <!-- Portfolio Start -->
          <% include ./main_partials/portfolio.ejs %>
      <!-- Portfolio End -->

      <!-- Blog Start -->
          <% include ./main_partials/blog.ejs %>
      <!-- Blog End -->

      <!-- Products Start -->
          <% include ./main_partials/products.ejs %>
      <!-- Products End -->

      <!-- Contact Start -->
          <% include ./main_partials/contact.ejs %>
      <!-- Contact End -->

      <!-- Side Project Start -->
          <% include ./main_partials/side_projects.ejs %>
      <!-- Side Project End -->

      <!-- About Me Start -->
          <% include ./main_partials/about_me.ejs %>
      <!-- About Me End -->



<!-- Index Buttons -->
          <div class="col-11 col-md-3   index-links">
            <button id="contact" class="box btn btn-outline">Contact</button>
          </div>
          <div class="col-11 col-md-4 col-lg-5  index-links">
            <button id="side-projects" class="box btn btn-outline">Side Projects</button>
          </div>

          <div class="col-11 col-md-3   index-links">
            <button id="about-me" class="box btn btn-outline">About me</button>
          </div>
        </div>
      </section>
    </main>

    
<% include ./partials/footer.ejs %>
