<% include ./partials/header.ejs %>

<!-- START IMAGE SLIDER -->

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox"> -->

    <!-- SLIDE 1 -->

    <div class="fixed-background">
      <div class="dark">
        <div class="caption text-center">
          <h1>Welcome</h1>
          <h3>Learn Explore Create</h3>
          <a class="btn btn-outline-light btn-lg" href="#portfolio">Get Started</a>
        </div>
      </div>
    </div>

    <!-- <div class="landing">
			<div class="dark home-wrap">
				<div class="home-inner">

				</div>
			</div>
		</div> -->


    <!-- <div class="backdrop dark" style="">
      <div class="caption text-center">
        <h1>Welcome</h1>
        <h3>Learn Explore Create</h3>
        <a class="btn btn-outline-light btn-lg" href="#portfolio">Get Started</a>
      </div>
    </div>
    <!-- SLIDE 2 --> -->
    <!-- <div class="carousel-item" style="background-image: url(img/computers-2.png)">
    </div> -->
    <!-- SLIDE 3 -->

    <!-- <div class="carousel-item" style="background-image: url(img/computers-3.png)">
    </div>
  </div>  -->
  <!-- END CAROUSEL INNER -->
  <!-- PREV & NEXT BUTTONS -->

  <!-- <a href="#carouselExampleIndicators" role="buttons" data-slide="prev" class="carousel-control-prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a href="#carouselExampleIndicators" role="buttons" data-slide="next" class="carousel-control-next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div> -->

<!-- END IMAGE SLIDER -->
<% include ./partials/footer.ejs %>
